data/
build/
image/
metadata/
histeq/
chips/
segs/
resizes/
dilates/
aligns/
dnnsIn/
dnnsOut/
facades/
segsColor/
D4/
D2/
D3/
histeq/
chipshist/
facadeshist/
dnnsHisteq/
invalid_facades/
invalid_facadesHisteq/
thresholds.txt
grounds.txt
index.html
score.txt
confidence.txt
score.csv
confidence.csv